<a href="https://colab.research.google.com/github/FishStalkers/tutorials/blob/main/Pandas_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Welcome to the *Mathematics and Computer Science Symposium* workshop: **Introduction to Pandas** 

Authors: Eddy, Arushi, Breanna Shi

### We will be going over topics that will help better your understanding of machine learning. We will be focusing on Pandas as they and their operations that are most applicable to ML. 

#### **For your continued education on pandas, we recommend the following resources:** 
1.) [Python Pandas Course](https://www.udemy.com/course/python-pandas-for-your-grandpa/?ranMID=39197&ranEAID=JVFxdTr9V80&ranSiteID=JVFxdTr9V80-9SBThd3hniNHdwMTHxmYcg&LSNPUBID=JVFxdTr9V80&utm_source=aff-campaign&utm_medium=udemyads)

2.) [Core Python Pandas Course](https://www.udemy.com/course/learn-core-python-numpy-and-pandas/?ranMID=39197&ranEAID=CuIbQrBnhiw&ranSiteID=CuIbQrBnhiw-WDhbWDYjoG4cQhU8aHggbg&LSNPUBID=CuIbQrBnhiw&utm_source=aff-campaign&utm_medium=udemyads)

3.) [w3 Resources Pandas tutorial](https://www.w3schools.com/python/pandas/default.asp)

4.) [Coursera Course for Pandas](https://www.coursera.org/learn/data-analysis-python?irclickid=wejWUTVuSxyNUT-w-hR-gQcmUkATPqyG0zYwQs0&irgwc=1&utm_medium=partners&utm_source=impact&utm_campaign=3294490&utm_content=b2c)

5.) [Online Pandas tutorial](https://www.educative.io/blog/python-pandas-tutorial?utm_campaign=brand_educative&utm_source=google&utm_medium=ppc&utm_content=performance_max&eid=5082902844932096&utm_term=&utm_campaign=%5BNew%5D+Performance+Max&utm_source=adwords&utm_medium=ppc&hsa_acc=5451446008&hsa_cam=18511913007&hsa_grp=&hsa_ad=&hsa_src=x&hsa_tgt=&hsa_kw=&hsa_mt=&hsa_net=adwords&hsa_ver=3&gclid=CjwKCAjwitShBhA6EiwAq3RqA8qxfWqUWUwdEu_sdsDAwh1sbIyM1njDs0Us6jjsRQKG2vQl4-8L_RoCC6kQAvD_BwE)

##**Section 1.1: Introduction and Installation**
“Pandas” is a very popular library in python, mostly used when working with large datasets. It’s especially helpful when working with relational/labeled data as it makes it both easy and intuitive. It's also common to be working with both pandas and numpy as they contain useful functions that can be used on one another. 

## Installation
The installation process is the same as numPy and if you have Anaconda installed, numPy and Pandas may have been auto-installed as well. To make sure you’re updated to the latest version or have them installed, simply run:

In [ ]:
conda install numpy
conda install pandas

Similarly, you can use pip to by running:

In [1]:
pip install numpy
pip install pandas

SyntaxError: ignored

Once you've installed these libraries onto your system, you can access these libraries by adding these few lines of code (using np and pd to make future function calls much more simple)

In [ ]:
import pandas as pd
import numpy as np

##**Section 1.2: Pandas - Series and Dataframes** 

Pandas Series are very similar to numpy ndarrays but they offer a little more practical usage, especially when it comes to working with labeled data. Series enable users to index data by customized labels. For example, an numPy array creates an array of inputted data that is indexed starting [0, 1, 2, ...]. Series are also indexed in the same way by default, [0, 1, 2, ...], but can be set to customized values such as "age" or "height."

In [ ]:
exampleArray = np.array([21, 32, 43])
print(exampleArray)

[21 32 43]

In [ ]:
hobbies = np.array(["soccer","basketball","baseball"])
series1 = pd.Series(hobbies)
print(series1)

0        soccer
1    basketball
2      baseball
dtype: object

In [ ]:
hobbies = np.array(["soccer","basketball","baseball"])
series1 = pd.Series(hobbies,index=['Emma', 'Swetha', 'Serajh'])
print(series1)

Emma          soccer
Swetha    basketball
Serajh      baseball
dtype: object

Pandas Dataframes build off of these series and can display multiple columns where each column acts as a series. Each column must be of the same data type and each column must have the same number of elements (rows). This can be thought of just as a matrix.

There are many different ways to fill dataframes, but for the purposes of this example, we’ll use lists of lists where each nested list is a row of data. Columns is a keyword that's passed in to create custom column names.

In [ ]:
dataf = pd.DataFrame([
    ['Rohan','Handsome',18],
    ['Daniel', 'Strong',19],
    ['Aaron', 'Smart',18]
    ],
    columns=['name','feature','age'])

print(dataf)

     name   feature  age
0   Rohan  Handsome   18
1  Daniel    Strong   19
2   Aaron     Smart   18

###**Activity 1: Working with Datasets**
To begin working with data, we must first load and read some structured file such as a csv file. CSV stands for “Comma-Separated Values” and it's a way to exchange structured information, like the contents of a spreadsheet, among programs that can't necessarily talk to one another directly.

To read a csv file, we would execute the following line of code where we assign the data to the variable "dataset" and read some file "file.csv" stored somewhere on the user's desktop.

In [ ]:
dataset = pd.read_csv("Fish.csv")

In [ ]:
dataset

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

**
for formatting purposes
**

In [ ]:
dataset.head(10)

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
5   Bream   450.0     26.8     29.7     34.7  13.6024  4.9274
6   Bream   500.0     26.8     29.7     34.5  14.1795  5.2785
7   Bream   390.0     27.6     30.0     35.0  12.6700  4.6900
8   Bream   450.0     27.6     30.0     35.1  14.0049  4.8438
9   Bream   500.0     28.5     30.7     36.2  14.2266  4.9594

In [ ]:
dataset.tail(10)

    Species  Weight  Length1  Length2  Length3  Height   Width
149   Smelt     9.8     10.7     11.2     12.4  2.0832  1.2772
150   Smelt     8.7     10.8     11.3     12.6  1.9782  1.2852
151   Smelt    10.0     11.3     11.8     13.1  2.2139  1.2838
152   Smelt     9.9     11.3     11.8     13.1  2.2139  1.1659
153   Smelt     9.8     11.4     12.0     13.2  2.2044  1.1484
154   Smelt    12.2     11.5     12.2     13.4  2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5  2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8  2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2  2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2  2.9322  1.8792

In [ ]:
dataset.index

RangeIndex(start=0, stop=159, step=1)

In [ ]:
dataset.columns

Index(['Species', 'Weight', 'Length1', 'Length2', 'Length3', 'Height',
       'Width'],
      dtype='object')

#### Pandas has four accessors in total:

 - .loc[] accepts the labels of rows and columns and returns Series or DataFrames. You can use it to get entire rows or columns, as well as their parts.

 - .iloc[] accepts the zero-based indices of rows and columns and returns Series or DataFrames. You can use it to get entire rows or columns, or their parts.

 - .at[] accepts the labels of rows and columns and returns a single data value.

 - .iat[] accepts the zero-based indices of rows and columns and returns a single data value.

In [ ]:
dataset.loc[0, "Weight"]

242.0

In [ ]:
dataset.loc[:, "Length1"]

0      23.2
1      24.0
2      23.9
3      26.3
4      26.5
       ...
154    11.5
155    11.7
156    12.1
157    13.2
158    13.8
Name: Length1, Length: 159, dtype: float64

In [ ]:
#Same as accessing "Length2"
dataset.iloc[9, 3]

30.7

In [ ]:
#Looking at just the first row
dataset.iloc[0, :]

Species    Bream
Weight     242.0
Length1     23.2
Length2     25.4
Length3     30.0
Height     11.52
Width       4.02
Name: 0, dtype: object

## **Section 1.3: Sums, Differences, and Averages**
When working with data sets, it’s important to begin learning the basic functions and methods such as adding, subtracting, and averaging. To get the sum, use dataFrame.sum() to get the sum of a pandas dataframe for both rows and columns. By default, the axis property is set to axis=0 where sum() will take the column sum, but we can change that to axis=1 to get the row totals. Keep in mind that when taking the sum of each row, the elements must be of the same type.

In [ ]:
sumCol = dataset.sum()
sumCol

Species    BreamBreamBreamBreamBreamBreamBreamBreamBreamB...
Weight                                               63333.9
Length1                                               4173.3
Length2                                               4518.1
Length3                                               4965.1
Height                                              1426.388
Width                                               702.3802
dtype: object

In [ ]:
#USing the iloc accessor to summ only the numeric values
sumRow = dataset.iloc[:,1:].sum(axis=1)
sumRow

0      336.1400
1      388.2856
2      438.5739
3      468.9855
4      537.0780
         ...
154     52.7840
155     54.6990
156     54.6328
157     67.3400
158     69.7114
Length: 159, dtype: float64

***Taking the average is very similar where we use dataFrame.mean() to get the mean value of each column. Changing the axis property will change from column <-----> row.

In [ ]:
#USing the iloc accessor to take the mean of only the numeric values
average = dataset.iloc[:,1:].mean()
average

Weight     398.326415
Length1     26.247170
Length2     28.415723
Length3     31.227044
Height       8.970994
Width        4.417486
dtype: float64

***When subtracting columns, the most simple method would be to call individual columns with a subtraction sign between.

In [ ]:
#Creating a new column "len_diff" where we subtracted "Length1" from "Length2"
dataset["len_diff"] = dataset["Length1"] - dataset["Length2"]
dataset

    Species  Weight  Length1  Length2  Length3   Height   Width  len_diff
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200      -2.2
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056      -2.3
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961      -2.6
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555      -2.7
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340      -2.5
..      ...     ...      ...      ...      ...      ...     ...       ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936      -0.7
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690      -0.7
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558      -0.9
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672      -1.1
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792      -1.2

[159 rows x 8 columns]

### **Activity 2: Apply Function**
The apply function is a very usefull method in the pandas library that enables users to pass a function and apply it on every single value of the Pandas series. This in turn helps to segregate data according to the conditions required due to which it is efficiently used in data science and machine learning. To use this mehtod, use "dataframe.apply(func, axis=0)" where func is the function that you wish to pass on to the dataframe.

In [ ]:
dataset

    Species  Weight  Length1  Length2  Length3   Height   Width  len_diff
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200      -2.2
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056      -2.3
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961      -2.6
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555      -2.7
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340      -2.5
..      ...     ...      ...      ...      ...      ...     ...       ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936      -0.7
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690      -0.7
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558      -0.9
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672      -1.1
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792      -1.2

[159 rows x 8 columns]

In [ ]:
newdata = dataset.iloc[:,2:].apply(np.sum)
newdata

Length1     4173.3000
Length2     4518.1000
Length3     4965.1000
Height      1426.3880
Width        702.3802
len_diff    -344.8000
dtype: float64

In [ ]:
newdata = dataset.iloc[:,2:].apply(np.sqrt)
newdata

      Length1   Length2   Length3    Height     Width  len_diff
0    4.816638  5.039841  5.477226  3.394113  2.004994       NaN
1    4.898979  5.128353  5.585696  3.532704  2.074994       NaN
2    4.888763  5.147815  5.576737  3.518210  2.167049       NaN
3    5.128353  5.385165  5.787918  3.567913  2.110806       NaN
4    5.147815  5.385165  5.830952  3.527605  2.265833       NaN
..        ...       ...       ...       ...       ...       ...
154  3.391165  3.492850  3.660601  1.445822  1.180508       NaN
155  3.420526  3.521363  3.674235  1.558846  1.126499       NaN
156  3.478505  3.605551  3.714835  1.508973  1.120625       NaN
157  3.633180  3.781534  3.898718  1.694934  1.437776       NaN
158  3.714835  3.872983  4.024922  1.712367  1.370839       NaN

[159 rows x 6 columns]

In [ ]:
newdata = dataset.iloc[:,2:].apply(np.exp)
newdata

,Length1,Length2,Length3,Height,Width,len_diff
0,1.190233e+10,1.074187e+11,1.068647e+13,100709.961867,55.701106,0.110803
1,2.648912e+10,2.642073e+11,3.548035e+13,263023.852246,74.113670,0.100259
2,2.396835e+10,3.227036e+11,3.210394e+13,237470.812460,109.519214,0.074274
3,2.642073e+11,3.931334e+12,3.538874e+14,337729.311480,86.099190,0.067206
4,3.227036e+11,3.931334e+12,5.834617e+14,253723.406024,169.694540,0.082085
...,...,...,...,...,...,...
154,9.871577e+04,1.987892e+05,6.600032e+05,8.088150,4.029330,0.496585
155,1.205717e+05,2.428016e+05,7.294164e+05,11.358882,3.557293,0.496585
156,1.798719e+05,4.424134e+05,9.846091e+05,9.747394,3.510646,0.406570
157,5.403649e+05,1.623346e+06,3.992787e+06,17.686471,7.902665,0.332871
158,9.846091e+05,3.269017e+06,1.085352e+07,18.768877,6.548264,0.301194